<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <div class="logo">
            <img src="{% static 'images/jata_negara.png' %}" alt="Jata Negara">
            <span>Jabatan Peguam Negara</span>
        </div>
        <ul>
            <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
        </ul>
    </nav>

    <!-- Content Section -->
    <div class="content">
        <div class="container">
            <h2>Sign Up</h2>
            <form method="post">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Username <span class="required-asterisk">*</span></label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="error">{{ form.username.errors }}</div>
                    {% endif %}
                    <small class="form-text">Minimum 6 characters and must contain only letters, digits, and @/./+/-/_</small>
                </div>
                
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email <span class="required-asterisk">*</span></label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="error">{{ form.email.errors }}</div>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">Password <span class="required-asterisk">*</span></label>
                    {{ form.password1 }}
                    {% if form.password1.errors %}
                        <div class="error">{{ form.password1.errors }}</div>
                    {% endif %}
                    <small class="form-text">Minimum 12 characters and must contain only letters, digits, and @/./+/-/_</small>
                </div>
                
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">Confirm Password <span class="required-asterisk">*</span></label>
                    {{ form.password2 }}
                    {% if form.password2.errors %}
                        <div class="error">{{ form.password2.errors }}</div>
                    {% endif %}
                </div>
                
                <button type="submit" class="btn">Sign Up</button>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}" class="nav-link">Log In</a></p>
        </div>
    </div>

    <!-- Footer Section -->
    <footer>
        <p>© 2024 Jabatan Peguam Negara. All Rights Reserved.</p>
    </footer>
    <!-- this is final project -->
</body>
</html>
